<div 
  class="calls-table__row"
  ng-class="{ 'pad--0': !$ctrl.cities.length }">
  <ul 
    class="calls-table__list--data pad--b" 
    ng-hide="!$ctrl.cities.length">
    <li style="margin-right: 16px; width: auto;"></li>
    <li>City:</li>
    <li>Month:</li>
    <li>Identified:</li>
    <li>Not Identified:</li>
    <li>All:</li>
    <li>Answered: </li>
    <li>Justified:</li>
  </ul>
  <ul 
    ng-repeat="item in $ctrl.cities" 
    class="calls-table__list--data">
    <li 
      class="calls-table__delete" 
      ng-click="$ctrl.deleteItem($index);">x</li>
    <li><span>{{item.Callcentername}}</span></li>
    <li><span>{{item.mesiac}}</span></li>
    <li><span>{{item.Identifikovane}}</span></li>
    <li><span>{{item.Neidentifikovane}}</span></li>
    <li><span>{{item.Vsetky}}</span></li>
    <li><span>{{item.Zdvihnute}}</span></li>
    <li><span>{{item.Opravnene}}</span></li>
  </ul>
  <ul 
    class="calls-table__list--total" 
    ng-hide="!$ctrl.cities.length">
    <li style="margin-right: 16px; width: auto;"></li>
    <li>Total per year:</li>
    <li>&nbsp;</li>
    <li>{{$ctrl.getTotal('Identifikovane')}}</li>
    <li>{{$ctrl.getTotal('Neidentifikovane')}}</li>
    <li>{{$ctrl.getTotal('Vsetky')}}</li>
    <li>{{$ctrl.getTotal('Zdvihnute')}}</li>
    <li>{{$ctrl.getTotal('Opravnene')}}</li>
  </ul>
</div>
